.opening{
    width: 400px;
    height: 800px;
}

.iphoneOpening{
    width: 400px;
    height: 100%;
    object-fit: cover;
    object-position: 95% 0%;
}
nav{
    display: none;
}
.theNav img{
    position: relative;
    float: right;
    bottom: 800px;
    left: 148px;
    z-index: 1;
}

.logo{
    display: none;
}

.circle{
    height: 700px;
    width: 330px;
    border-bottom-right-radius: 330px;
    border-top-right-radius: 330px;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top: 65px;
    z-index: 2;
}

.opening h1{
    color: #D8C5C0;
    font-size: 85px;
    position: absolute;
  top: 150px;
  left: 25px;
  z-index: 1;
  text-align: center;
  font-family: 'Didot';
  z-index: 1;
}

.opening h3{
    color: #D0B8B3;
    position: relative;
    float: right;
    right: 10px;
    bottom: 80px;
    font-family: 'Didot', sans-serif;
    font-size: 20px;
}

.content h2{
    font-size: 45px;
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    width: 400px;
}
.dashOne{
    width: 320px;
    height: 4px;
    background-color: #A98A0F;
    display: block;
  margin-left: 35px;
  margin-right: auto;
  margin-bottom: 40px;
}

.content p{
    font-family: "Raleway";
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.dashTwo{
width: 100px;
height: 4px;
background-color: #A98A0F;
margin-top: 70px;
display: block;
}

.content h3{
    font-family: 'Josefin Sans';
    font-size: 30px;
    text-align: right;
    margin-top: 45px;
}

.content h4{
    font-family: 'Didot', sans-serif;
    margin-top: 20px;
}
.interests img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
    margin-top: 40px;
    border-radius: 40%;
}

.dashThree{
    width: 400px;
    height: 4px;
    background-color: #A98A0F;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 120px;
}

.end{
    display: flex;
    justify-content: center;
}

.end h3{
    font-size: 28px;

}

@media only screen and (min-width: 415px) and (max-width: 1024px){
    .content {
        width: 1024px;
    }
    .opening{
        width: 1024px;
        height: 1350px;
    }
    .iphoneOpening{
        width: 1024px;
        height: 100%;
        object-fit: cover;
        object-position: 95% 0%;
    }

    nav{
        display: none;
    }

    .theNav img{
        position: relative;
        float: right;
        bottom: 1320px;
        left: 133px;
        z-index: 1;
    }
    .circle{
        height: 1200px;
        width: 530px;
        border-bottom-right-radius: 530px;
        border-top-right-radius: 530px;
        background-color: white;
        opacity: 0.5;
        position: absolute;
        top: 85px;
        z-index: 2;
    }
    
    .opening h1{
        color: #D8C5C0;
        font-size: 105px;
        position: absolute;
      top: 350px;
      left: 85px;
      z-index: 1;
      text-align: center;
      font-family: 'Didot';
      z-index: 1;
    }
    .opening h3{
        color: #D0B8B3;
        position: relative;
        text-align: right;
        right: 20px;
        bottom: 80px;
        font-family: 'Didot', sans-serif;
        font-size: 20px;
    }
    .content h2{
        font-size: 55px;
        font-family: 'Josefin Sans';
        display: flex;
        justify-content: center;
        width: 1000px;
    }

    .dashOne{
        width: 520px;
        height: 4px;
        background-color: #A98A0F;
        display: block;
      margin-left: 250px;
      margin-right: auto;
      margin-bottom: 40px;
    }
    
    .content p{
        font-family: "Raleway";
        width: 700px;
        display: block;
        margin: 20px 200px;
    }
    
    .dashTwo{
    width: 150px;
    height: 4px;
    background-color: #A98A0F;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 15px;
    display: block;
    }

    .content h3{
        font-family: 'Josefin Sans';
        font-size: 35px;
        text-align: right;
        margin-top: 65px;
        margin-right: 15px;
        margin-bottom: 60px;
    }
    
    .content h4{
        font-family: 'Didot', sans-serif;
        margin-top: 20px;
        font-size: 1.2em;
    }

    .interests img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        width: 50%;
        margin-top: 40px;
        border-radius: 40%;
    }
    
    .dashThree{
        height: 4px;
        background-color: #A98A0F;
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      margin-top: 120px;
    }
    
    .end{
        display: flex;
        justify-content: center;
    }
    
    .end h3{
        font-size: 38px;
    
    }
}

@media only screen and (min-width: 1025px) {
    body {
        padding: 0;
        margin: 0;
        width: 140;
    }
    nav{
        display: flex;
        flex-direction: row-reverse;
        margin: 0px;
        position: absolute;
        top: 25px;
        right: 5px;
        font-family: 'Josefin Sans', sans-serif;
    }
        
    nav a{
        color: black;
        text-decoration: none;
    }
        
    nav li{
        display: inline-block;
        width: 200px;
    }

    .opening{
        width: 1024px;
        height: 800px;
    }
    .iphoneOpening{
        padding: 0px;
        width: 1440px;
        height: 100%;
        object-fit: cover;
        object-position: 95% 10%;
    }
    .theNav img{
        display: none;
    }

    .logo{
        display: block;
        position: absolute;
        bottom: 720px;
        left: 20px;
    }
    .circle{
        height: 700px;
        width: 700px;
        border-top-right-radius: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: white;
        opacity: 0.5;
        position: absolute;
        top: 100px;
        z-index: 2;
    }
    
    .opening h1{
        color: #D8C5C0;
        font-size: 125px;
        position: absolute;
      top: 350px;
      left: 85px;
      z-index: 1;
      text-align: center;
      font-family: 'Didot';
      z-index: 1;
    }
    .opening h3{
        color: #D0B8B3;
        position: absolute;
        float: right;
        right: 15px;
        bottom: 0px;
        font-family: 'Didot', sans-serif;
        font-size: 20px;
    }
    .content h2{
        font-size: 55px;
        font-family: 'Josefin Sans';
        display: flex;
        justify-content: center;
        width: 1440px;
        margin-top: 70px;
    }

    .dashOne{
        width: 520px;
        height: 4px;
        background-color: #A98A0F;
        display: block;
      margin-left: 450px;
      margin-right: auto;
      margin-bottom: 40px;
    }
    
    .content p{
        font-family: "Raleway";
        width: 700px;
        margin-left: 400px;
        
    }
    
    .dashTwo{
    width: 150px;
    height: 4px;
    background-color: #A98A0F;
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 25px;
    display: block;
    }

    .content h3{
        font-family: 'Josefin Sans';
        font-size: 35px;
        text-align: right;
        margin-top: 65px;
        margin-right: 15px;
        margin-bottom: 60px;
    }
    
    .content h4{
        font-family: 'Didot', sans-serif;
        margin-top: 20px;
        font-size: 1.2em;
    }

    .interests h4{
        margin: 0px;
    }

    .interests p{
        width: 300px;
        margin: 0;
    }
    .pair{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .pair img{
    border-radius: 50%;
    width: 200px;
    margin: 10px 40px;
    }
    .Basketball {
        display: block;
        text-align: center;
        margin-right: 15px;
        margin-left: 70px;
    }

    .Snowboarding {
        display: block;
        text-align: center;
        margin: 0px 15px;
    }

    .Ukulele{
        display: block;
        text-align: center;
        margin: 0px 15px;
    }

    .Coding {
        display: block;
        text-align: center;
        margin-left: 15px;
        margin-right: 70px;
    }
    .Other{
        margin: 80px 50px;
    }

    .Other p{
        width: 500px;
        margin: 10px 0px
    }
    .dashThree{
        height: 4px;
        background-color: #A98A0F;
        display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      margin-top: 120px;
    }
    
    .end{
        display: flex;
        justify-content: center;
    }
    
    .end h3{
        font-size: 28px;
        margin-top: 10px;
        padding: 0;
    }
}