/*Phone version*/
body{
    padding: 0;
    margin: 0;
}
/*Opening*/
.opening{
    width: 100%;
    height: 100vh;
}

.iphoneOpening{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 95% 0%;
    position: fixed;
    z-index: -10;
}

nav{
    display: none;
}

.theNav img{
    position: relative;
    float: right;
    bottom: 100vh;
    left: 140px;
    z-index: 1;
    width: 10%;
    height: auto;
}

.logo{
    display: none;
}

.circle{
    height: 80vh;
    width: 75%;
    border-bottom-right-radius: 330px;
    border-top-right-radius: 330px;
    background-color: #A98A0F;
    opacity: 0.5;
    position: absolute;
    top: 65px;
    z-index: 1;
}

.opening h1{
    color: #D8C5C0;
    font-size: 60px;
    position: absolute;
    top: 150px;
    left: 25px;
    z-index: 1;
    text-align: center;
    font-family: 'Didot';
    z-index: 2;
    }

.opening h3{
    color: #D0B8B3;
    position: relative;
    float: right;
    right: 10px;
    bottom: 70px;
    font-family: 'Didot', sans-serif;
    font-size: 18px;
}

/*Content*/

.content {
    width: 100%;
    background-color: white;
}

.content h2{
    font-size: 45px;
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    width: 100%;
}

.dashOne{
    width: 40%;
    height: 4px;
    background-color: #A98A0F;
    display: block;
    margin-left: 30%;
    margin-right: auto;
    margin-bottom: 70px;
}

.content p{
    font-family: "Raleway";
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.dashTwo{
width: 30%;
height: 4px;
background-color: #A98A0F;
margin-top: 70px;
display: block;
}

.content h3{
    font-family: 'Josefin Sans';
    font-size: 30px;
    text-align: right;
    margin: 70px auto;
    margin-bottom: 60px;
    width: 80%;
}

.content h4{
    font-family: 'Didot', sans-serif;
    margin-top: 20px;
    text-decoration: overline wavy #D0B8B3;
}

.Basketball, .Snowboarding, .Ukulele, .Coding, .Other{
    margin-bottom: 60px;
}

.interests img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.dashThree{
    height: 4px;
    background-color: #A98A0F;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 120px;
}

/*End*/

.end{
    width: 100%;
    text-align: center;
}

.end h3{
    width: 60%;
    font-size: 24px;
    margin: 4%;
}

/*IPad version*/
@media only screen and (min-width: 415px) and (max-width: 1024px){

body{
    padding: 0;
    margin: 0;
}
/*Opening*/
.opening{
    width: 100%;
    height: 100vh;
}

.iphoneOpening{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 95% 0%;
}

nav{
    display: none;
}

.theNav img{
    position: relative;
    float: right;
    bottom: 100vh;
    left: 150px;
    z-index: 1;
    width: 10%;
    height: auto;
}

.logo{
    display: none;
}

.circle{
    height: 90vh;
    width: 65%;
    border-bottom-right-radius: 530px;
    border-top-right-radius: 530px;
    background-color: #A98A0F;
    opacity: 0.5;
    position: absolute;
    top: 60px;
    z-index: 1;
}
    
.opening h1{
    color: #D8C5C0;
    font-size: 120px;
    position: absolute;
    top: 300px;
    left: 30px;
    z-index: 1;
    text-align: center;
    font-family: 'Didot';
    z-index: 2;
}
.opening h3{
    color: #D0B8B3;
    position: relative;
    float: right;
    right: 10px;
    bottom: 80px;
    font-family: 'Didot', sans-serif;
    font-size: 25px;
}

/*Content*/

.content {
    width: 100%;
}

.content h2{
    font-size: 55px;
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    width: 100%;
}

.dashOne{
    width: 60%;
    height: 4px;
    background-color: #A98A0F;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.content p{
    font-family: "Raleway";
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.dashTwo{
    width: 40%;
    height: 4px;
    background-color: #A98A0F;
    margin-top: 70px;
    display: block;
}   

.content h3{
    font-family: 'Josefin Sans';
    font-size: 35px;
    text-align: right;
    margin: 70px auto;
    margin-bottom: 60px;
    width: 80%;
}
.content h4{
    font-family: 'Didot', sans-serif;
    margin-top: 20px;
    text-decoration: overline wavy #D0B8B3;
    font-size: 25px;
}

.Basketball, .Snowboarding, .Ukulele, .Coding, .Other{
    margin-bottom: 60px;
}
.interests img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.dashThree{
    height: 4px;
    background-color: #A98A0F;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 120px;
}

/*End*/

.end{
    width: 100%;
    text-align: center;
}

.end h3{
    width: 50%;
    font-size: 28px;
    margin: 5%;
}
}

/*Computer version*/
@media only screen and (min-width: 1025px) {
body {
    padding: 0;
    margin: 0;
}
/*Opening*/
.opening{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
    position: absolute;
    top: 25px;
    right: 5px;
    font-family: 'Josefin Sans', sans-serif;
    }
        
nav a{
    color: black;
    text-decoration: none;
}
        
nav li{
    display: inline-block;
    width: 170px;
}

.iphoneOpening{
    padding: 0px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 95% 10%;
}
.theNav img{
    display: none;
}

.logo{
    display: block;
    position: absolute;

    bottom: 91%;
    left: 2vw;
}

.circle{
    height: auto;
    padding-top: 45%;
    width: 45%;
    border-radius: 100%;
    background-color: #A98A0F;
    z-index: 1;
    position: absolute;
    top: 12%;
    left: 8%;
}

.opening h1{
    color: #D8C5C0;
    font-size: 120px;
    position: absolute;
    top: 20%;
    left: 12%;
    z-index: 2;
    text-align: center;
    font-family: 'Didot';
}

.opening h3{
    color: #D0B8B3;
    position: relative;
    float: right;
    right: 10px;
    bottom: 70px;
    font-family: 'Didot', sans-serif;
    font-size: 18px;
}

/*Content*/

.content {
    width: 100%;
}
.content h2{
    font-size: 50px;
    font-family: 'Josefin Sans';
    display: flex;
    justify-content: center;
    width: 100%;
}
.dashOne{
    width: 40%;
    height: 4px;
    background-color: #A98A0F;
    display: block;
    margin-left: 30%;
    margin-right: auto;
    margin-bottom: 70px;
}
.content p{
    font-family: "Raleway";
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
    
.dashTwo{
    width: 20%;
    height: 4px;
    background-color: #A98A0F;
    margin-top: 70px;
    display: block;
    margin-left: 10px;
}

.content h3{
    font-family: 'Josefin Sans';
    font-size: 35px;
    text-align: right;
    margin: 70px auto;
    margin-bottom: 60px;
    width: 80%;
}
    
.content h4{
    font-family: 'Didot', sans-serif;
    margin-top: 20px;
    text-decoration: overline wavy #D0B8B3;
}

.pair{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Basketball{
    width: 50%;
}

.Basketball img{
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.Snowboarding{
    width: 50%;
}

.Snowboarding img{
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.pairTwo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.CAB{
    width: 50%;
}

.Coding{
    width: 50%;
}

.CAB img{
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.Coding img{
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.Other{
    margin: 80px 50px;
}

.Other p{
    width: 80%;
    margin: 10px 0px
}

.dashThree{
    height: 4px;
    background-color: #A98A0F;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 120px;
}

.end{
    width: 100%;
    display: flex;
}
    
.end h3{
    font-size: 28px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 55%;
}
}